/* Home Page style file */

h6 {
  font-size: small;
  margin-top: 20px;
}

table {
    float: none;
}

p {
  font-size: large;  
  color: blue;
}

.background {
  background-image: url("./images/manuel-nageli-NsgsQjHA1mM-unsplash.jpg");
  background-repeat: repeat-y;
  background-size:cover;
  margin-bottom: 10px; 
}

#ul {
  float: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#li {
  float: left;
  padding: 10px;
}

.all {
  display: flex;
  flex-flow: column wrap;
}

.topNtail {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
}

.backBox {
  background-color: bisque;
  padding: 10px;
  width: 100%;
  height:335px;
}

.video {
  width: 100%;
  height: 330px;
  overflow-y: hidden;
  border: 5px solid bisque
}

.homeHeaderBox{ 
  background-repeat: no-repeat;
  width: 1410px;
  background-size: contain;
  height: 270px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  font-style: italic;
  color:rgb(80, 2, 80);
  margin-left: 35px;
  margin-top: -1025px;
  margin-bottom: 350px;
  border: 10px black solid;
  padding: 5px;
  background-color:bisque;
}

.headerItems {
  align-items: center;
  margin-top: -158px;
  margin-bottom: 100px;
  display: flex; 
  flex-flow: row wrap;
}

.header1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -10px;
  margin-bottom: -40px;
  margin-left: 80px;  
}

.header2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -50px;
  margin-left: 80px;
}

.asideH {
  display: flex;
  flex-flow: row wrap;
  justify-content: right;
  width: "275px";
  height: "200px";
  margin-top: 50px;
  margin-left: 35px;
}

.navigation {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

#pageColumns {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  justify-content: left;
  align-items: left;
  padding: 10px;
  height: 770px;
  opacity: 0.95;
}

#myColumns {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  justify-content: left;
  align-items: left;
  padding: 10px;
  width: 220px;
  height: 1000px;
  border: 5px solid rgb(80, 2, 80);
  background-color: bisque;
  opacity: 0.95;
  border-radius: 50px;
  margin: 2px;
}

#pageArticle {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: left;
  align-items: left;
  padding: 10px;
  width: 1200px;
  height: 6500px;
  opacity: 0.95;
}

#myArticle {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  justify-content: left;
  align-items: left;
  padding: 10px;
  height: 6500px;
  width: 1200px;
  opacity: 0.95;
  border: 5px solid rgb(80, 2, 80);
  background-color: bisque;
  opacity: 0.95;
  border-radius: 50px;
  margin: 2px;
}

#box1 {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  justify-content: space-between;  
  padding: 10px;
  width: 1000px;
  height: 3000px;
  border: 5px solid rgb(80, 2, 80);
  background-color: bisque;
  opacity: 0.75;
  border-radius: 50px; 
}

#box2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  color:rgb(80, 2, 80);
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 0px;
  border: 10px black solid;
  background-color:bisque;
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  justify-content: space-between;  
  padding: 10px;
  width: 1000px;
  height: 6500px;
  background-color: rgb(80, 2, 80);
  opacity: 1;
  border-radius: 50px; 
} 


body {
  color: rgb(80, 2, 80);
  background-image: url("./images/manuel-nageli-NsgsQjHA1mM-unsplash.jpg");
  background-repeat: repeat-y;
  background-size:cover;
  background-color:rgb(255, 228, 196); 
}

#mathFont {
  font-size: 18px;
}

.buttonMenu1 {
  margin: 5px;
  padding: 3px; 
  justify-items: auto;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: xx-large;
  text-wrap: wrap;
  color: rgb(80, 2, 80);
  width: 190px;
  height: 45px;
  border: 3px solid rgb(80, 2, 80);
  border-radius: 15px;
  background-color: aqua;
  cursor: pointer;
}

.buttonMenu2 {
  margin: 5px;
  padding: 3px; 
  justify-items: auto;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: xx-large;
  text-wrap: wrap;
  color: rgb(80, 2, 80);
  width: 190px;
  height: 90px;
  border: 3px solid rgb(80, 2, 80);
  border-radius: 15px;
  background-color: aqua;
  cursor: pointer;
}

#access {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  width: 500px;
  height: 60px;
}

#notes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  width: 300px;
  height: 60px;
  margin-left: 62px;
}

#bisque {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: bisque;
}

#rightSideText {
  margin-top: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: right;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding: 10px;
  width: 500px;
  height: 600px;
}

#contact {
  color: blue;
}