/* Scales-Modes Page style file */
.background {
  background-image: url("./images/manuel-nageli-NsgsQjHA1mM-unsplash.jpg");
  background-repeat: repeat;
  background-size: contain; 
}

h6 {
  font-size: x-small;
  margin-top: 100px;
}

ul {
  float: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  padding: 10px;
}

.all {
  display: flex;
  flex-flow: column wrap;
}

.topNtail {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
}

.backBox {
  background-color: bisque;
  padding: 10px;
  width: 100%;
  height:335px;
  margin-bottom: 10px;
}

.video {
  width: 100%;
  height: 330px;
  overflow-y: hidden;
  border: 5px solid bisque
}

.homeHeaderBox{ 
  background-repeat: no-repeat;
  width: 1410px;
  background-size: contain;
  height: 270px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  font-style: italic;
  color:rgb(80, 2, 80);
  margin-left: 35px;
  margin-top: -700px;
  margin-bottom: 350px;
  border: 10px black solid;
  padding: 5px;
  background-color: bisque;
}

.headerItems {
  align-items: center;
  margin-top: -158px;
  margin-bottom: 100px;
  display: flex; 
  flex-flow: row wrap;
}

.header1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -10px;
  margin-bottom: -40px;
  margin-left: 80px;  
}

.header2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -50px;
  margin-left: 80px;
}

.asideH {
  display: flex;
  flex-flow: row wrap;
  justify-content: right;
  width: "275px";
  height: "200px";
  margin-top: 50px;
  margin-left: 35px;
}

#pageColumns {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: left;
}

#myColumn1 {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  justify-content: top;
}

#myColumn2 {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  justify-content: top;
}

#myColumn3 {
  height: 1150px;
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  justify-content: top;
}

#box1 {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  justify-content: center;  
  padding: 10px;
  width: 220px;
  height: 500px;
  border: 5px solid rgb(80, 2, 80);
  background-color: bisque;
  opacity: 0.88;
  border-radius: 50px;
  position: sticky;
  top: 0px
}

#box2 {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  justify-content: left;  
  padding: 5px;
  width: 350px;
  height: 950px;
  border: 5px solid rgb(80, 2, 80);
  background-color: bisque;
  opacity: 0.88;
  border-radius: 50px;   
}

#box3 {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  justify-content: center;  
  padding: 10px;
  width: 220px;
  height: 500px;
  border: 5px solid rgb(80, 2, 80);
  background-color: bisque;
  opacity: 0.88;
  border-radius: 50px;
  position: sticky;
  top: 0px
}

.background {
  color: rgb(80, 2, 80);
  background-image: url("./images/manuel-nageli-NsgsQjHA1mM-unsplash.jpg");
  background-repeat: repeat-y;
  background-size:cover; 
  background-color: bisque;
}

.button1 {
  padding: 3px; 
  justify-items: auto;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: xx-large;
  text-wrap: wrap;
  color: rgb(80, 2, 80);
  width: 190px;
  height: 45px;
  border: 3px solid rgb(80, 2, 80);
  border-radius: 15px;
  background-color: aqua;
  cursor: pointer;
  box-shadow: 5px 5px;
}

.button2 {
  padding: 3px;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: xx-large;
  text-wrap: wrap;
  color: rgb(80, 2, 80);
  width: 190px;
  height: 90px;
  border: 3px solid rgb(80, 2, 80);
  border-radius: 15px;
  background-color: aqua;
  cursor: pointer;
  box-shadow: 5px 5px;
}

#button3 {
  padding: 3px; 
  justify-items: auto;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: xx-large;
  text-wrap: wrap;
  color: rgb(80, 2, 80);
  width: 190px;
  height: 45px;
  border: 3px solid rgb(80, 2, 80);
  border-radius: 15px;
  background-color: aqua;
  cursor: pointer;
  box-shadow: 5px 5px;
}

#button4 {
  padding: 3px; 
  justify-items: auto;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: xx-large;
  text-wrap: wrap;
  color: rgb(80, 2, 80);
  width: 190px;
  height: 45px;
  border: 3px solid rgb(80, 2, 80);
  border-radius: 15px;
  background-color: aqua;
  cursor: pointer;
  box-shadow: 5px 5px;
}

#button5 {
  padding: 3px;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: xx-large;
  text-wrap: wrap;
  color: rgb(80, 2, 80);
  width: 190px;
  height: 90px;
  border: 3px solid rgb(80, 2, 80);
  border-radius: 15px;
  background-color: aqua;
  cursor: pointer;
  box-shadow: 5px 5px;
}

#buttonMenu1 {
  padding: 3px; 
  justify-items: auto;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: xx-large;
  text-wrap: wrap;
  color: rgb(80, 2, 80);
  width: 190px;
  height: 45px;
  border: 3px solid rgb(80, 2, 80);
  border-radius: 15px;
  background-color: aqua;
  cursor: pointer;
  box-shadow: 5px 5px;
}

.audio {
  opacity: 1;
  background-color: rgb(0, 38, 255);
  border: 5px solid  rgb(0, 38, 255);
  border-radius: 30px;
}

#buttonA {
  padding: 3px; 
  justify-items: auto;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: large;
  text-wrap: wrap;
  color: rgb(80, 2, 80);
  width: 325px;
  height: 30px;
  border: 3px solid rgb(80, 2, 80);
  border-radius: 15px;
  background-color: aqua;
  cursor: pointer;
  box-shadow: 5px 5px;
}

.buttonSound {
  margin-top: -10px;
  padding-bottom: 5px;
  margin-bottom: 7px; 
  justify-items: auto;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: large;
  text-wrap: wrap;
  color: rgb(80, 2, 80);
  width: 325px;
  height: 32px;
  border: 3px solid rgb(80, 2, 80);
  border-radius: 15px;
  background-color: aqua;
  cursor: pointer;
  box-shadow: 5px 5px;  
}

#buttonC {
  padding: 3px; 
  justify-items: auto;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: large;
  text-wrap: wrap;
  color: rgb(80, 2, 80);
  width: 325px;
  height: 30px;
  border: 3px solid rgb(80, 2, 80);
  border-radius: 15px;
  background-color: aqua;
  cursor: pointer;
  box-shadow: 5px 5px;
}

#buttonD {
  padding: 3px; 
  justify-items: auto;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: large;
  text-wrap: wrap;
  color: rgb(80, 2, 80);
  width: 325px;
  height: 30px;
  border: 3px solid rgb(80, 2, 80);
  border-radius: 15px;
  background-color: aqua;
  cursor: pointer;
  box-shadow: 5px 5px;
}

#buttonE {
  padding: 3px; 
  justify-items: auto;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: large;
  text-wrap: wrap;
  color: rgb(80, 2, 80);
  width: 325px;
  height: 30px;
  border: 3px solid rgb(80, 2, 80);
  border-radius: 15px;
  background-color: aqua;
  cursor: pointer;
  box-shadow: 5px 5px;
}

#buttonF {
  padding: 3px; 
  justify-items: auto;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: large;
  text-wrap: wrap;
  color: rgb(80, 2, 80);
  width: 325px;
  height: 30px;
  border: 3px solid rgb(80, 2, 80);
  border-radius: 15px;
  background-color: aqua;
  cursor: pointer;
  box-shadow: 5px 5px;
}

#buttonG {
  padding: 3px; 
  justify-items: auto;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: large;
  text-wrap: wrap;
  color: rgb(80, 2, 80);
  width: 325px;
  height: 30px;
  border: 3px solid rgb(80, 2, 80);
  border-radius: 15px;
  background-color: aqua;
  cursor: pointer;
  box-shadow: 5px 5px;
}

#buttonH {
  padding: 3px; 
  justify-items: auto;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: large;
  text-wrap: wrap;
  color: rgb(80, 2, 80);
  width: 325px;
  height: 30px;
  border: 3px solid rgb(80, 2, 80);
  border-radius: 15px;
  background-color: aqua;
  cursor: pointer;
  box-shadow: 5px 5px;
}

#buttonI {
  padding: 3px; 
  justify-items: auto;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: large;
  text-wrap: wrap;
  color: rgb(80, 2, 80);
  width: 325px;
  height: 30px;
  border: 3px solid rgb(80, 2, 80);
  border-radius: 15px;
  background-color: aqua;
  cursor: pointer;
  box-shadow: 5px 5px;
}

#buttonJ {
  padding: 3px; 
  justify-items: auto;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: large;
  text-wrap: wrap;
  color: rgb(80, 2, 80);
  width: 325px;
  height: 30px;
  border: 3px solid rgb(80, 2, 80);
  border-radius: 15px;
  background-color: aqua;
  cursor: pointer;
  box-shadow: 5px 5px;
}

#buttonK {
  padding: 3px; 
  justify-items: auto;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: large;
  text-wrap: wrap;
  color: rgb(80, 2, 80);
  width: 325px;
  height: 30px;
  border: 3px solid rgb(80, 2, 80);
  border-radius: 15px;
  background-color: aqua;
  cursor: pointer;
  box-shadow: 5px 5px;
}

#buttonL {
  padding: 3px; 
  justify-items: auto;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: large;
  text-wrap: wrap;
  color: rgb(80, 2, 80);
  width: 325px;
  height: 30px;
  border: 3px solid rgb(80, 2, 80);
  border-radius: 15px;
  background-color: aqua;
  cursor: pointer;
  box-shadow: 5px 5px;
}

#buttonM {
  padding: 3px; 
  justify-items: auto;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: large;
  text-wrap: wrap;
  color: rgb(80, 2, 80);
  width: 325px;
  height: 30px;
  border: 3px solid rgb(80, 2, 80);
  border-radius: 15px;
  background-color: aqua;
  cursor: pointer;
  box-shadow: 5px 5px;
}

#buttonN {
  padding: 3px; 
  justify-items: auto;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: large;
  text-wrap: wrap;
  color: rgb(80, 2, 80);
  width: 325px;
  height: 30px;
  border: 3px solid rgb(80, 2, 80);
  border-radius: 15px;
  background-color: aqua;
  cursor: pointer;
  box-shadow: 5px 5px;
}

#buttonO {
  padding: 3px; 
  justify-items: auto;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: large;
  text-wrap: wrap;
  color: rgb(80, 2, 80);
  width: 325px;
  height: 30px;
  border: 3px solid rgb(80, 2, 80);
  border-radius: 15px;
  background-color: aqua;
  cursor: pointer;
  box-shadow: 5px 5px;
}

#buttonP {
  padding: 3px; 
  justify-items: auto;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: large;
  text-wrap: wrap;
  color: rgb(80, 2, 80);
  width: 325px;
  height: 30px;
  border: 3px solid rgb(80, 2, 80);
  border-radius: 15px;
  background-color: aqua;
  cursor: pointer;
  box-shadow: 5px 5px;
}

#buttonQ {
  padding: 3px; 
  justify-items: auto;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: large;
  text-wrap: wrap;
  color: rgb(80, 2, 80);
  width: 325px;
  height: 30px;
  border: 3px solid rgb(80, 2, 80);
  border-radius: 15px;
  background-color: aqua;
  cursor: pointer;
  box-shadow: 5px 5px;
}

.navigation {
  float: left;
  margin: 1;
  padding: 1;
  justify-content: center;
}

#libHeader {
  align-content: center;
}

#navSounds {
  margin: 1;
  padding: 2;
  align-self: center;
}

.SampleTitle {
  width: 150px;
}

.sample {
  margin-bottom: 5px;
}

#buttonSound {}
