/* Home Page style file */
ul {
  list-style-type: none;
}

li {

  padding: 10px;
}

.all {
  display: flex;
  flex-flow: column wrap;
}

.elements {
  align-self: center;
}

.HeaderBox{ 
  background-repeat: no-repeat;
  background-size:cover;
  height: 200px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  font-style: italic;
  color:rgb(80, 2, 80);
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 0px;
  border: 10px black solid;
  padding: 5px;
  background-color:bisque;
  opacity: 0.88;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.headerItems {
  margin-top: -70px;
  display: flex;
  flex-flow: row wrap;
}

.header1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -50px;  
}

.header2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -50px;
}

.asideH {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: "275px";
  height: "200px";
  margin-top: 80px;
}

.navigation {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

#pageColumns {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  justify-content: left;
  align-items: left;
  padding: 10px;
  width: 220px;
  height: 770px;
  opacity: 0.95;
}

#myColumns {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  justify-content: left;
  align-items: left;
  padding: 10px;
  width: 220px;
  height: 770px;
  border: 5px solid rgb(80, 2, 80);
  background-color: bisque;
  opacity: 0.95;
  border-radius: 50px;
  margin: 2px;
}

.calculator {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  justify-content: left;
  align-items: left;
  padding: 30px;
  width: 500px;
  height: 450px;
  background-color: black;
  margin: 2px;
  opacity: 0.95;
  border-radius: 50px; 
}

#box1 {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  justify-content: space-between;  
  padding: 10px;
  width: 200px;
  height: 770px;
  border: 5px solid rgb(80, 2, 80);
  background-color: bisque;
  opacity: 0.75;
  border-radius: 50px; 
}

.box2 {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  justify-content: space-between;  
  padding: 10px;
  width: 200px;
  height: 750px;
  background-color: rgb(80, 2, 80);
  opacity: 1;
  border-radius: 50px; 
} 


body {
  color: rgb(80, 2, 80);
  background-image: url("./images/manuel-nageli-NsgsQjHA1mM-unsplash.jpg");
  background-repeat: repeat-y;
  background-size:cover;
  background-color:rgb(255, 228, 196); 
}

#mathFont {
  font-size: 18px;
}

#button1 {
  margin: -5px;
  padding: 3px; 
  justify-items: auto;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: xx-large;
  text-wrap: wrap;
  color: rgb(80, 2, 80);
  width: 190px;
  height: 45px;
  border: 3px solid rgb(80, 2, 80);
  border-radius: 15px;
  background-color: aqua;
  cursor: pointer;
}

#button2 {
  margin: -5px;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: xx-large;
  text-wrap: wrap;
  color: rgb(80, 2, 80);
  width: 190px;
  height: 90px;
  border: 3px solid rgb(80, 2, 80);
  border-radius: 15px;
  background-color: aqua;
  cursor: pointer;
}

#access {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  width: 500px;
  height: 60px;
}

#notes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  width: 300px;
  height: 60px;
  margin-left: 62px;
}

#bisque {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: bisque;
}

#rightSideText {
  margin-top: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: right;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding: 10px;
  width: 500px;
  height: 600px;
}
  