/* Home Page style file */
ul {
  float: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  padding: 10px;
}

.all {
  display: flex;
  flex-flow: column wrap;
}

.video {
  max-width: fit-content;
  height: 330px;
  overflow-y: hidden;
  margin-bottom: 5px;
  border-bottom: 5px solid rgb(80, 2, 80);
}

.elements {
  align-self: center;
}

.homeHeaderBox{ 
  background-repeat: no-repeat;
  width: 1410px;
  background-size: contain;
  height: 270px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  font-style: italic;
  color:rgb(80, 2, 80);
  margin: 30px;
  margin-top: -700px;
  margin-bottom: 350px;
  border: 10px black solid;
  padding: 5px;
  background-color:bisque;
}

.headerItems {
  align-items: center;
  margin-top: -158px;
  margin-bottom: 100px;
  display: flex; 
  flex-flow: row wrap;
}

.header1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -10px;
  margin-bottom: -40px;
  margin-left: 80px;  
}

.header2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -50px;
  margin-left: 80px;
}

.asideH {
  display: flex;
  flex-flow: row wrap;
  justify-content: right;
  width: "275px";
  height: "200px";
  margin-top: 50px;
  margin-left: 35px;
}

.myColumns {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: top;
  justify-content: left;
  align-items: center;
}

.box1 {
  justify-content: center;  
  padding: 10px;
  width: 220px;
  height: 160px;
  border: 5px solid rgb(80, 2, 80);
  background-color: bisque;
  opacity: 0.88;
  border-radius: 50px;   
}

.box2 {
  justify-content: center;  
  padding: 10px;
  width: 220px;
  height: 320px;
  border: 5px solid rgb(80, 2, 80);
  background-color: bisque;
  opacity: 0.88;
  border-radius: 50px;   
}

.bodyColumn {
  width: 250px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}

.boxText {
  margin-bottom: -10px;
}

.background {
  width: 1500px;
  height: 1000px;
  background-color: bisque;
}

#development {
  font-size: 21px;
}

#mathFont {
  font-size: 19px;
}

#button1 {
  padding: 3px; 
  justify-items: auto;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: xx-large;
  text-wrap: wrap;
  color: rgb(80, 2, 80);
  width: 190px;
  height: 45px;
  border: 3px solid rgb(80, 2, 80);
  border-radius: 15px;
  background-color: aqua;
  cursor: pointer;
}

#button2 {
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: xx-large;
  text-wrap: wrap;
  color: rgb(80, 2, 80);
  width: 190px;
  height: 90px;
  border: 3px solid rgb(80, 2, 80);
  border-radius: 15px;
  background-color: aqua;
  cursor: pointer;
}

#box1 {
    width: 1000px;
    height: 6600px;
    image-rendering: auto url("./images/manuel-nageli-NsgsQjHA1mM-unsplash.jpg");
}

#boxBot{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
    width: 500px;
    height: 60px;
}

#rightSideText {
  margin-top: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: right;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding: 10px;
  width: 500px;
  height: 600px;
}
  