body{
    color: purple;
    /*background-color: rgba(216, 170, 15, 0.883);*/
    background-image: url("./pexels-artem-podrez-7232413.gif");
    background-color: #FFD267;
}
button{
    border: 2px solid darkblue;
    border-radius: 15px;
    background-color: aqua;
}
a{    
  text-decoration: none;
}
.photo{
    box-shadow: 3px 3px black;
}
.flex-container {
    display: flex;      
    flex-flow: row wrap;
    justify-content: space-between;
    height: 350px;
    align-items: stretch;
}
article{
    word-wrap: break-word;
}